* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:aliceblue;
}

div-title{
    color:deepskyblue;
}


nav {
    border-block: 10px solid white;
    font-size: 35px;
    border-radius:25px;
}
th {
    border-left: 15px solid white;
}

img {
    border-block-color: deepskyblue;
    border-radius: 25px;
    border-block: 15px solid
}

p1 {
    text-align: center;
    color: dodgerblue;
}

div-para{
    text-align:center;
}

li{
    color:dodgerblue;
}

.button {
    display: inline-block; /* Makes the link behave like a block element */
    padding: 15px 20px; /* Adds padding */
    font-size: 16px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: lightblue;
    text-transform: uppercase;
}

    .button:hover {
        background-color: deepskyblue; /* Darker shade on hover */
    }

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #ffcc00;
}
